ENSI-BIG DATA_rfb_adf/pipeline/import_crw__1__check_files.json
{
	"name": "import_crw__1__check_files",
	"properties": {
		"activities": [
			{
				"name": "check_new_files",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:30",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://cnibigdataproxy.azurewebsites.net/api/RawControl?code=b7kdtZPobYMxmVkqD7J5RweFbbbnCKrQISKjz00oP8o/eVU1YvrenQ==",
					"method": "POST",
					"body": {
						"value": "@json(concat('{', '\"method\":\"GET\"', ',', '\"adl_path\"', ':', \n'\"', pipeline().parameters.dls.folders.landing, '/crw/', pipeline().parameters.tables.schema, '__', pipeline().parameters.tables.table, '\"', ',', '\"env\"', ':', \n'\"', pipeline().parameters.env.env, '\"', '}'))",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "cnibigdataproxy",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "has_new_files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check_new_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('check_new_files').output.status_code, 200)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "import_crw__2__load_raw",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "new_files_found",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "import_crw__2__load_raw",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"tables": {
										"value": "@pipeline().parameters.tables",
										"type": "Expression"
									},
									"dls": {
										"value": "@pipeline().parameters.dls",
										"type": "Expression"
									},
									"databricks": {
										"value": "@pipeline().parameters.databricks",
										"type": "Expression"
									},
									"adf": {
										"value": "@pipeline().parameters.adf",
										"type": "Expression"
									},
									"ach_tables": {
										"value": "@pipeline().parameters.ach_tables",
										"type": "Expression"
									},
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									},
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"url": {
										"value": "@pipeline().parameters.url",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "new_files_found",
							"description": "Simple implementation of a flux fork.",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "send_email_to_notify_new_files",
							"description": "Will notify users for group ANALISTA_UNIEPRO about this execution presensting the message that the crawler collected new files and they are available at raw level.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "import_crw__2__load_raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "send_email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"status": "succeeded",
									"email_users": {
										"value": "@array('default')",
										"type": "Expression"
									},
									"email_groups": {
										"value": "@array('default')",
										"type": "Expression"
									},
									"adf": {
										"value": "@pipeline().parameters.adf",
										"type": "Expression"
									},
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									},
									"message": {
										"value": "Ha novos arquivos disponiveis para @{pipeline().parameters.adf.adf_pipeline_name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tables": {
				"type": "object"
			},
			"dls": {
				"type": "object"
			},
			"databricks": {
				"type": "object"
			},
			"adf": {
				"type": "object"
			},
			"ach_tables": {
				"type": "array"
			},
			"env": {
				"type": "object"
			},
			"container": {
				"type": "string"
			},
			"url": {
				"type": "string"
			}
		},
		"folder": {
			"name": "templates/raw/crw"
		},
		"annotations": []
	}
}