ENSI-BIG DATA_rfb_adf/pipeline/workflow_planilhas_prod.json
{
	"name": "workflow_planilhas_prod",
	"properties": {
		"description": "\nWorkflow in production of the spreadsheet load.\nCreated a separate workflow because the workflow_prod has already exceeded the maximum activity limit (40)",
		"activities": [
			{
				"name": "wkf_raw__kpi_geral_calculado",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "wkf_raw__kpi_geral_calculado",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "wkf_raw__kpi_meta",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wkf_raw__kpi_geral_calculado",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "wkf_raw__kpi_meta",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "wkf_raw__kpi_escola",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wkf_raw__kpi_meta",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "wkf_raw__kpi_escola",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "wkf_raw__kpi_geral_calculado__failed",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "wkf_raw__kpi_geral_calculado",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'wkf_raw__kpi_geral_calculado'"
				}
			},
			{
				"name": "wkf_raw__kpi_meta__failed",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "wkf_raw__kpi_meta",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'wkf_raw__kpi_meta'"
				}
			},
			{
				"name": "has_error_in_completed_conditions",
				"description": "For all activities in which we evaluate \"completed\" condition, things can fail but still go on as everything was nice and smooth. To have real control over this, the vairable \"execution_errors\" is needed and now we have to check there are no real errors. \n\nIf any of the parents fail, this workflow will already fail, cause the logic clause is AND. Think about it. ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "wkf_raw__kpi_escola",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('execution_errors')), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "workflow_success",
							"description": "No errors in \"completed\" conditions found. ",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "workflow_failed",
							"description": "Using a webhook with a bad HTTP request, we can introduce errors in out pipelines when we need.\n\nYou've got errors in some \"completed\" condition.",
							"type": "WebHook",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"url": "https://thisisthewaytosimuateanerrormyfriend.com/api",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"error": true
								},
								"timeout": "00:10:00"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "prod"
				}
			}
		},
		"variables": {
			"execution_errors": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "workflow"
		},
		"annotations": []
	}
}